section.Brand-Password.mandate-password .toggle-password {
    top: 84%;
}
.Brand-Password input#mandate-email {
  border: var(--border);
  max-width: 358px;
  width: 100%;
  padding: 5px 10px;
}
.mandate-password .mandate-link {
    margin: 10px 0 0 0;
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #2A7AFF;
}
.policy-banner.sub-tab-section .tab a.sub-tablinks:hover {
    color: var(--blue);
    background-color: var(--gray);
}
.policy-banner.sub-tab-section .tab a.sub-tablinks.active:hover {
    color: #fff;
    background-color: var(--blue);
}
.PolicyPage footer.footer,
.TakeOffPage footer.footer {
    z-index: 9;
    position: relative;
}

/* ============= */

/* General Left-Side Navigation Fix */

/* .left-sidebar {
    position: fixed;
    top: 0; 
    text-align: right;
    padding: 30px 15px 30px 0;
    overflow-y: auto;
    height: calc(100vh - 150px - 100px);
} */

.right-policy-content {
    padding: 0 0 0 60px;  /* Adjust padding as needed */
}

.left-sidebar a {
    font-size: 16px;
    padding: 15px 8px 15px 10px;
    display: block;
    border-right: 1px solid var(--black);
}

.left-sidebar a.active{
    font-size: 700;
}

.right-policy-content {
    padding: 0 0 0 20px; 
}

.left-sidebar a {
    font-size: 16px;
    padding: 15px 25px 15px 10px;
    display: block;
    text-align: right;
}
.left-sidebar a:hover {
    color: var(--black);
}


  

/* ============= */
.policy-content{
    margin: 20px auto;
}
.policy-content ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0 0 0 35px;
}

.policy-content li {
    margin-bottom: 10px;
}
.policy-content li strong{
    color: var(--blue);
    margin: 25px 0 0 0;
    display: block;
}
.policy-sub-title {
    color: var(--blue);
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 7px;
    margin: 0 0 20px 0;
}
.third-title {
    color: var(--blue);
    font-weight: 600;
    font-size: 22px;
    padding: 15px 0 0 20px;
}
.prod-heading.policy-before h3::before {
    content: "";
    height: 0.8px;
    width: 106px;
    display: inline-block;
    background-color: var(--blue);
    position: absolute;
    bottom: -10px;
    left: 1%;
    z-index: -1;
}
.PolicyPage .nav-link.services,
.TakeOffPage .nav-link.services{
   font-weight: 700;
   color: var(--blue);
}
.tech-sta .prod-heading.policy-head h3::before {
    content: "";
    height: 0.8px;
    width: 106px;
    display: inline-block;
    background-color: var(--blue);
    position: absolute;
    bottom: -10px;
    left: 46%;
    z-index: -1;
}
.tech-sta  .submit-head-para {
    margin: 0 0 15px 0;
    z-index: 2;
    background-color: #ededed;
}
.PolicyPage footer.footer {
    z-index: 9;
    position: relative;
}
.policy-banner.sub-tab-section .tab a.sub-tablinks {
    font-size: 16px;
}
.down-noti.text-center {
    display: flex;
    justify-content: end;
}
.downButton{
    display: flex;
    justify-content: start;
}

.color-code .right-color-content{
    background-color: unset;
    padding: unset;
}
.color-code .color-para-img {
    padding: unset;
}
.color-para-img .col-md-5{
    background-color: #fff;
    padding: 20px 40px;
}
.policy-content .drawing-index ul {
    list-style: disc;
    padding-left: unset;
    margin: 0 0 0 20px;
}
.policy-content .drawing-index ul strong{
    color: var(--blue);
}
.policy-content .drawing-index ul ul{
    padding: 5px 10px;
}

/* tabs */

.hori-tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid var(--black);
    border-radius: 50px;
    max-width: fit-content;
    position: relative;
  }
  
  .hori-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
  }
  
  .hori-tab button:hover {
    background-color: #ddd;
  }
  
  .hori-tab button.active {
    border: 1px solid var(--black);
    border-radius: 50px;
    background-color: var(--blue);
    color: var(--gray);
  }
  
  .hori-tab .poli-tablinks {
    display: block;
    margin: 4px;
    border-radius: 50px;
    padding: 8px 20px;
    width: unset;
    border-right: 0;
}

  .poli-tabcontent {
    display: none;
    padding: 40px 12px 20px;
  
  }
  .policy-content .drawing ul {
    list-style: disc;
    padding-left: unset;
    margin: 0 0 0 20px;
}
.policy-content .drawing ul strong{
    color: var(--blue);
}
.policy-content .drawing ul ul{
    padding: 5px 10px;
}

/* tabs */

.icon-policy table, .icon-policy th, .icon-policy td {
    border: 1px solid var(--blue);
    border-collapse: collapse;
  }
  .icon-policy th{
    padding: 5px;
    text-align: center;
    color: var(--blue);
  }
  .icon-policy td {
    padding: 5px;
    text-align: left;
  }


/* Take Off */
.TakeOffPage .down-noti.text-center {
    display: flex;
    justify-content: end;
    background-color: #ededed;
    z-index: 2;
    position: relative;
}
.submit-head-para .prod-heading.why-head h3::before {
    width: 0;
}
.TakeOffPage .policy-banner .row.left-policy-right {
    background-color: #ededed;
    z-index: 102;
    position: relative;
}
.take-why {
    text-align: left;
}
.take-why ol li {
    padding: 0 0 10px 0;
    letter-spacing: 1px;
}
.take-why ol li::marker{
    font-weight: 600;
    color: var(--blue);
}
.take-why ol li strong {
    display: inline;
}
.take-why p {
    padding: 0 16px;
    max-width: 807px;
    letter-spacing: 0.8px;
    font-weight: 400;
}

/* Update Notification */
.update-notification{
    text-align: end;
    position: relative;
}

.update-notification .custom-modal {
    text-align: left;
    position: absolute;
    top: 50px; /* Adjust to place modal below the icon */
    right: 0;
    width: 450px;
    padding: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9;
    display: none; /* Initially hidden */
  }

  .update-notification .custom-modal.active {
    display: block; /* Show modal when active */
  }

  .update-notification img {
    cursor: pointer;
    width: 40px; /* Maintain consistent size for icons */
    height: 40px;
  }

  .custom-modal.active .prod-heading h3 {
    font-size: 31px;
    letter-spacing: 2.6px;
 }

 .custom-modal.active .prod-heading h3::before{
    bottom: -6px;
 }

 .custom-modal .submit-head-para {
    margin: 0;
 }

  .release-notes .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .custom-modal .date {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    letter-spacing: 0.9px;
  }
 
  .release-notes .section {
    margin-bottom: 15px;
  }
  
  .release-notes .section-title {
    font-weight: bold;
    text-align: left;
    padding: 0;
    font-size: 18px;
    margin: 0;
  }
  
  .release-notes .section-description {
    margin: 5px 0 0 0;
  }